body h3 {
    background: rgb(222, 222, 223);
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #018a8a;
    font-weight: bold;
}

.alert-area{
    height: 80px;
}

form input {
    border: 2px solid rgb(19, 2, 52);
    outline: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 6px;
}

.record-m>input{
    display: flex;
    flex-direction: column;
    margin: 10px;
}